@import "tailwindcss";

@variant dark (&:is(.dark *));

@layer base {
  body {
    background-color: white;
    color: rgb(24 24 27);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .dark body {
    background-color: rgb(24 24 27);
    color: rgb(250 250 250);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(229 231 235);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(209 213 219);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(63 63 70);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(82 82 91);
}